.background {
  width: auto;
  height: auto;
  background-color: #070720;
}
.text_NoAlign{
  color:#FFFFFF;
  margin:0 0;
}
.box_Body{
  width: 1188px;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#17172e;
}
.img_Body{
  height: 120px;
  width: 120px;
}
.text_Center{
  font-size: 24px;
  text-align: center;
  margin:0 0;
  color:#FFFFFF;
}

