.backimg{
  background-repeat: no-repeat; 
  background-size: 1014px 570px; 
  background-position: 50% -60px; 
  background-image: radial-gradient(500px 200px at 50% 34%, rgba(7, 7, 32, 0) 0%, rgb(7, 7, 32) 100%), linear-gradient(90deg, rgb(7, 7, 32) 0%, rgba(7, 7, 32, 0) 100%), url("https://static.u.gg/assets/lol/riot_static/10.13.1/img/splash/Ezreal_0.jpg");
}

.top-name-h1{
  color: #fff;
}


.top-name-skill{
  color: #bbbedb;
}

.top-avatar {
  width: 120px;
  height: 120px;
}

.top-skill{
  width: 100%;
}

.top-skill img{
  width: 30px;
  height: 30px;
  margin: 5px;
}

.skill-title h1{
  font-size: 30px;
  color: #fff;
}


.ct-aside-title{
  color: #fff;
}

.hard {
  color: #ff9b00;
}

.combo-img img{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.combo-case{
  color: #cddcfe;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 578px) {

}

@media only screen and (max-width: 320px) {

}
