@font-face {
  font-family: "Bestfont";
  src: url("../font/NotoSansCJKtc-Thin.otf")format("truetype");
}
body{
  margin: 0 auto!important;
  padding: 0!important;
  background-color: #070720!important;
}
.text_NoAlign{
  font-family: "Bestfont";
  color:#FFFFFF;
  margin:0 0;
}
.champions_box_Body{
  width: auto;
  height: auto;
  background-color:#17172e;
}
.text_Center{
  font-family: "Bestfont";
  text-align: center;
  margin:0 0;
  color:#FFFFFF;
}

