.background {
    width: 1920px;
    height: 1800px;
    background-color: #070720;
  }
.box_Body{
    width: 1200px;
    height: 1270px;
    background-color: #070720;
}
.text_NoAlign{
    color:#FFFFFF;
    margin:0 0;
  }
.text_Center{
  text-align: center;
  margin:0 0;
  color:#FFFFFF;
}